body {
	padding-bottom: 150px;
  }
  
  header {
	background-color: #666;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
  }
 
.voteButton {
height: 50px;
width: 900px;
background-color: rgb(122, 136, 119);
border-radius: 10px;
clear: both;
margin-left: 50px;
margin-bottom:20px;


}
.voteButton p {
	font-size:16px;
	font-weight:500;
	text-transform:uppercase;
	margin-left: 260px;
	padding-top: 15px;
	
	
	}
	.surveyText p {
		font-size:16px;
		margin-left: 20px;
		padding-top: 15px;
		
		
		}



ul li {
	display: inline;
	

}
.rightnav a {
		
	   float: right;
	   background-color: #fff;
	   border-top-left-radius: 5px;
	   border-top-right-radius: 5px;
	   padding: 20px;
	   
	   
}	

  header img{
	  float: left;
	  margin-right: 10;

}
  img {
	max-width: 100%;
  }
  
  h1 {
	margin: 10;
	padding: 5;
  }
  
  section {
	clear: both;
	overflow: hidden;
  }
  
  aside {
	float: left;
	width: 20%;
	box-sizing: border-box;
  }
  
  .product-wrapper {
	float: right;
	width: 75%;
	margin-left: 5%;
	box-sizing: border-box;
	background-color: #ececec;
  }
  
  footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	text-align: center;
	background-color: #666;
	color: #fff;
  }
  
  article {
	float: left;
	width: 33%;
	padding: 20px;
	box-sizing: border-box;
  }
  
